.head{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 30px;
    width: 130px;
    height: 60px;
}


.border{
    height: 2px;
    width: 80px;
    background-color: #E4B56B;
    margin-top: 10px;
    margin-left: 25px;
}

@media screen and (max-width: 575px){
    .head{
        font-size: 20px;
        line-height: 23.48px;
        margin-bottom: -10px;
    }
}