.head{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    margin: 30px;
    width: 310px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.border{
    height: 2px;
    width: 82px;
    background-color: #E4B56B;
    margin-top: 10px;
    margin-left: 25px;
}
@media screen and (max-width: 575px) {
    .head {
        font-size: 20px;
        line-height: 23.45px;
        margin-bottom: -25px;
        margin-top: 15px;
    }
    .border{
        width: 60px;
    }
}