.section1Wraper {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    width: 1200px;
    justify-content: center;

}

.section1Footer {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    background-color: #454647;
    width: 379px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.section1 {
    margin: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block{
    margin-top: -750px;
    position: relative;
    z-index: 1;
}
@media screen and (max-width: 575px){
    .section1Wraper{
        width: 350px;
        flex-wrap: wrap;
    }
    .section1Footer{
        width: 328px;
        font-size: 14px;
    }
    .block{margin-top: 0}
    .section1{
        margin: 0;
    }
}