.search{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
}
.search>div{
    margin-right: 21px;
}
.input input{
    position: absolute;
    margin-top: 27px;
    margin-left: -225px;
    width: 283px;
    height: 41px;
    border:none;
    background-color: rgba(241,241,241,1);
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: rgba(62,62,62,1);
    z-index: 1;
    padding-left: 31px;
}
.input img{
    margin-top: 5px;
}
.newGlass{
    position: absolute;
    z-index: 2;
    top: 97px;
    margin-left: 50px;
}
.hiden{
    display: none;
}
@media screen and (max-width: 575px){
    .search{
        display: block;
    }
    .input{
        position: relative;
        grid-area: input;
        margin-right: 55px;
        display: flex;
        flex-direction: row;
    }
    .input input{
        z-index: 1;
        margin-top: -49px;
        margin-left: -85px;
        width: 163px;
        height: 30px;
        margin-bottom: 10px;
        color: rgba(62,62,62,0.22);
        border-color: rgba(62,62,62,0.22);
        /*visibility: hidden;*/
    }
    .input img{
        position: absolute;
        z-index: 2;
        margin-left: 80px;
        margin-top: -40px;
    }
    .newGlass{
        display: none;
    }
}